<!--
 * @Author: Charley
 * @Date: 2022-11-05 16:37:38
 * @LastEditors: Charley
 * @LastEditTime: 2022-11-25 14:35:44
 * @FilePath: /mospanel/web/html/pages/login.html
 * @Description: loginPage
-->
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    #app {
        padding-top: 100px;
    }
</style>
<body>
    <a-layout id="app" v-cloak>
        <a-layout-content>
            <a-row type="flex" justify="center">
                <a-col :span="8">
                    <a-card title="登录">
                        <a-form :form="form" :label-col="{span: 4}" :wrapper-col="{span: 20}" @submit="handleSubmit">
                            <a-form-item label="用户名">
                                <a-input v-model="form.username" placeholder="请输入用户名"></a-input>
                            </a-form-item>
                            <a-form-item label="密码">
                                <a-input v-model="form.password" placeholder="请输入密码"></a-input>
                            </a-form-item>
                            <a-form-item>
                                <a-button type="primary" html-type="submit">登录</a-button>
                            </a-form-item>
                        </a-form>
                    </a-card>
                </a-col>
            </a-row>
        </a-layout-content>
    </a-layout>
    {{template "js" .}}
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    form: {
                        username: '',
                        password: ''
                    }
                }
            },
            methods: {
                handleSubmit(e) {
                    e.preventDefault();
                    this.$message.success('登录成功');
                }
            }
        })
        .use(antd)
        .mount('#app');
    </script>
</body>

</html>